<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id nisl auctor, facilisis orci in, tempus est. Nullam urna sapien, pellentesque blandit ante id, eleifend bibendum dolor. Curabitur in urna a ex iaculis bibendum eget nec erat. Aenean efficitur nulla et dui venenatis tristique. Aenean et pellentesque libero, at pulvinar urna. Aenean id tristique mauris. Praesent ut ligula vel odio interdum dapibus.
    </p>
</article>